body {
    background-image: url(fondo.jpg);
    background-size: cover;

}

img {
    width: 400px;
    height: 400px;
    border-style: inset;
    border-color: black;   
    
}

h1 {
    border-style:outset;
    border-image: inherit;
    border-radius: 15px;
    background-color: black;
    text-align: center;
    color: lightblue;
}

p {
    background-size: cover;
    font-size: 20px;
    color: rgb(64, 81, 238)
}

.imagenes {
    margin: auto;
    width: 75%;
    padding: 10px;
}

.card {
    width: 10px;
}